<header class="container pt-[34px] flex items-center justify-between">
    <a href="">
        <svg class="w-12 h-12 md:w-16 md:h-16" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="64" height="64" fill="#030303"/>
            <circle cx="32" cy="32" r="14" stroke="#FFF7F0" stroke-width="4"/>
        </svg>
    </a>
    <button class="bg-black text-cream text-sm md:text-base px-[28px] py-[8px] md:px-[45px] md:py-[14px] font-bold rounded-full leading-7">Free Consultation</button>
</header>