<section class="container relative mt-[100px] text-center md:grid md:grid-cols-2 md:gap-[10px]  md:text-left md:items-center lg:gap-0">
    <div class="lg:pr-[125px]">
        <img class="w-[300px] mx-auto mb-10 max-w-none md:absolute md:w-[364px] md:left-0 md:top-0 md:-translate-x-[44px] lg:w-[445px] lg:relative lg:translate-x-0" src="./img/image-amy.webp" alt="">
    </div>
    <div>
        <h2 class="text-[26px] leading-[32px] mb-6 font-bold md:text-[32px] md:leading-10 lg:text-[40px] lg:leading-[50px] lg:mb-[34px]">I’m Amy, and I’d love to work on your next project</h2>
        <p class="text-brown mb-6 md:text-lg md:leading-[28px] lg:mb-[32px]">I love working with others to create beautiful design solutions. I’ve designed everything from brand illustrations to complete mobile apps. I’m also handy with a camera!</p>
        <a href="#" class="bg-red text-cream text-sm inline-flex md:text-base px-[28px] py-[8px] md:px-[45px] md:py-[14px] font-bold rounded-full leading-7 hover:bg-orange duration-300">Free Consultation</a>
    </div>
</section>