<section class="container mt-10 mb-8 md:mt-14 md:mb-14 lg:mt-[88px] lg:mb-14">
    <div class="bg-black text-white py-12 px-6 rounded-[10px] md:px-[75px] lg:flex lg:justify-between lg:pl-[65px] lg:pr-[95px] lg:items-center">
        <div class="text-center lg:text-left lg:max-w-[540px]">
            <h2 class="font-bold text-[26px] leading-8 mb-6 md:text-[32px] md:leading-10 lg:text-[40px] lg:mb-[25px]">Book a call with me</h2>
            <p class="text-cream leading-[26px] md:text-lg md:leading-[28px]">I’d love to have a chat to see how I can help you. The best first step is for us to discuss your project during a free consultation. Then we can move forward from there.</p>
        </div>
        <div class="text-center mt-6 md:mt-[26px] lg:text-left lg:mt-0">
            <a href="#" class="bg-red text-cream text-sm inline-flex md:text-base px-[28px] py-[8px] md:px-[45px] md:py-[14px] font-bold rounded-full leading-7 hover:bg-orange duration-300">Free Consultation</a>
        </div>
    </div>

</section>