<section class="container text-center mt-8 md:mt-16">
    <h1 class="text-[36px] leading-[45px] font-bold md:text-[44px] md:leading-[55px]">Design solutions made easy</h1>
    <p class="leading-[26px] text-brown px-[29px] md:px-[58px] md:text-lg mt-4 md:mt-[27px]">With over ten years of experience in various design disciplines, I’m your one-stop shop for your design needs.</p>
</section>