---
title: Coded for Free 
description: A portfolio made for Frontend Mentor
layout: layouts/base.njk
---
{% include "header.njk" %}
<main>
  {% include "sections/intro.njk" %}
  {% include "sections/skills.njk" %}
  {% include "sections/about.njk" %}
  {% include "sections/work.njk" %}
  {% include "sections/cta.njk" %}
</main>
{% include "footer.njk" %}